@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width:995px) {
    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: #b74b4b;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "software Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid #b74b4b;
    }
}
@keyframes words {
    0%, 20% {
        content: " Cannabis de Calidad  ";
    }
    21%, 40% {
        content: " Budtender Experto ";
    }
    41%, 60% {
        content: "Creador de Experiencias";
    }
    61%, 80% {
        content: " Cultivo Excepcional ";
    }
    81%, 100% {
        content: " Maestro del Cannabis ";
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }

    .home-content h1 {
        font-size: 4rem;
    }

    .home-content h3 {
        font-size: 3rem;
    }

    .home-img img {
        width: 40vw;
    }
}

@media (max-width: 600px) {
    .home-content h1 {
        font-size: 3rem;
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

    .home-img img {
        width: 60vw;
    }
}

.promo-banner {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-size: 1.8rem;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: slide-in 0.5s ease, bounce 1s infinite; /* A帽adir animaciones */
    opacity: 1;
    visibility: visible;
}

.promo-banner p {
    margin: 0;
    color: red;
    animation: pulse 1.5s infinite; /* A帽adir animaci贸n de pulso */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.close-btn {
    background: none;
    border: none;
    color: red; /* Cambia el color del bot贸n de cierre a rojo */
    font-size: 2rem;
    cursor: pointer;
    margin-left: 20px;
    transition: transform 0.3s ease;
}

.close-btn:hover {
    transform: scale(1.2);
}

/* Animaci贸n para ocultar el banner */
.promo-banner.hide {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
    visibility: hidden;
}

.corner-logo {
    position: fixed;
    top:-10px; /* Ajusta la posici贸n vertical */
    left: 1200px; /* Mueve a la izquierda */
    max-width: 70px; /* Tama帽o m谩ximo del ancho */
    max-height: 70px; /* Tama帽o m谩ximo de la altura */
    width: auto; /* Mantiene la proporci贸n */
    height: auto; /* Mantiene la proporci贸n */
    border-radius: 50%; /* Hace que el logo sea circular (opcional) */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra para un efecto 3D */
    transition: transform 0.3s ease; /* Suaviza el efecto de transformaci贸n */
    cursor: pointer; /* Cambia el cursor al pasar sobre el logo */
    animation: float 3s ease-in-out infinite; /* Animaci贸n de flotaci贸n */
}

.corner-logo:hover {
    transform: scale(1.1); /* Aumenta el tama帽o al pasar el rat贸n */
}

@keyframes float {
    0%, 100% {
        transform: translateY(0); /* Sin movimiento */
    }
    50% {
        transform: translateY(-10px); /* Se eleva 10px */
    }
}

.fade-in {
    opacity: 0; /* Comienza invisible */
    transform: translateY(20px); /* Se desplaza hacia abajo */
    animation: fadeIn 1s forwards; /* Llama a la animaci贸n */
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Se vuelve completamente visible */
        transform: translateY(0); /* Se coloca en su posici贸n original */
    }
}

/* Agregar icono de men煤 para m贸vil */
header .menu-toggle {
    display: none;
    font-size: 3rem;
    color: #b74b4b;
    cursor: pointer;
    z-index: 101;
}

/* Ajuste de la navegaci贸n en dispositivos m贸viles */
@media (max-width: 995px) {
    nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
        background-color: #161616;
        border-left: 3px solid #b74b4b;
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);
    }

    nav.active {
        transform: translateX(0);
    }

    header .menu-toggle {
        display: block;
    }
}

/* Estilos para el bot贸n de men煤 */
.menu-toggle {
    cursor: pointer;
    z-index: 200;
}

/* Ajustes en el tama帽o de los elementos de la secci贸n home */
@media (max-width: 600px) {
    .home-content h1 {
        font-size: 2.5rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .home-img img {
        width: 60vw;
    }
}

/* Correcci贸n de tama帽os de imagenes */
img {
    max-width: 100%;
    height: auto;
}

/* Para dispositivos m贸viles */
@media only screen and (max-width: 768px) {
    /* Ajustar el logo */
    .logo {
      display: block; /* Aseg煤rate de que se muestre */
      margin-top: 10px; /* Ajusta el espacio superior si es necesario */
      width: 100px; /* Ajusta el tama帽o seg煤n sea necesario */
    }
  
    /* Alinear el letrero de promoci贸n y el bot贸n */
    .promo-banner {
      position: absolute;
      bottom: 10px; /* Eleva el letrero de promoci贸n para que no choque con el bot贸n */
      right: 10px;
    }
  
    .start-button {
      margin-bottom: 100px; /* A帽ade espacio para que no choquen el bot贸n y la promoci贸n */
    }
  }
  


  
